.dashboard-container {
  width: 85%;
  min-height: 1000px;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  margin: 60px;
  padding: 80px;
  color: #404040;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: auto;
}

.header-container {
  height: 50px;
  /* padding: 20px; */
  justify-content: space-between;
}

.icon {
  display: block;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.icon:hover {
  color: #111;
}

.input {
  background: none;
  border: none;
  border-bottom: solid 1px #404040;
  height: 40px;
  outline: none;
  margin: 10px;
}

input[type=submit] {
  width: 100px;
  height: 60px;
  border: none;
  background: #333;
  color: white;
}

.books-list {
  padding-top: 50px;
}

.book-element {
  height: 70px;
  padding: 20px;
  transition: color 0.2s ease-out;
  align-items: center;
  justify-content: space-around;
}

.book-element:hover {
  background-color: #e1e1e1;
}

.title-text {
  font-size: 22px;
}
